<div class="class-div-container">

  <!-- Primeira apresentação -->
  <div id="id-div-infoThi" class="class-id-div">

    <div class="class-banner">

      <div class="class-backFoto">
        <div class="class-div-foto"></div>
      </div>

    </div>
    <div class="class-dados"></div>
  </div>

  <!-- Segunda apresentação -->
  <div id="id-div-infoThi" class="class-id-div">

    <div class="class-banner">

      <div class="class-backFoto">
        <div class="class-div-foto"></div>
      </div>

    </div>
    <div class="class-dados"></div>
  </div>
</div>

<router-outlet></router-outlet>
