<div class="class-div-container">

  <!-- Primeira apresentação -->
  <div class="class-id-div-information">

    <div class="class-banner">
      <div class="class-backFoto">
        <div class="class-div-foto">

        </div>
      </div>
      <section class="class-section-nameSpace">
        <span>Dan T. H. Marzo Gil</span>
      </section>
    </div>
    <div class="class-div-contatos">
    </div>

  </div>

  <div class="class-div-dadosPessoa">
  </div>
</div>


<router-outlet></router-outlet>
